/*BOOTSTRAP OVERRIDES*/

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(//fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(//fonts.gstatic.com/s/worksans/v2/ElUAY9q6T0Ayx4zWzW63VFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(//fonts.gstatic.com/s/worksans/v2/4udXuXg54JlPEP5iKO5Amegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html {
  font-size: 14px;
}

html,body {
    height: 100%;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  background-color: #fff;
}

a {
  color: #c2ad7e;
  text-decoration: none;
  transition: all 0.2s ease-in 0s;
}
a:hover, a:focus {
  color: #988454;
  text-decoration: none;
}
a:focus {
  outline: none;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto Slab', serif;
}

/*UNIVERSAL */

.intro p {
  font-size: 18px;
  line-height: 1.2em;
  color: #7f7f7f;
}

.bubble {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border:#c2ad7e 1px solid;
  padding:10px;
  background: #fff;
  position: relative;
}

  .bubble span {
    display: block;
    position: absolute;
    width: 236px;
    height: 236px;
    border-radius: 50%;
  }

.dot {
  font-size: 16px;
  color: #c2ad7e;
  text-align: center;
  width: 75px;
  margin: 75px auto;
  border-top: #c2ad7e 1px solid;
  position: relative;
}

  .dot span {
    display: block;
    top:-8px;
    left:0;
    right:0;
    margin:0 auto;
    position: absolute;
  }

.emblem {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing: 2px;
  font-size: 15px;
}

  .emblem.gold {
    background: #c2ad7e;
    color: #fff;
    padding: 20px 50px;
    border:#fff 1px solid;
  }

    .emblem.gold:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      background:url(../i/sprite.png) 0px 0px no-repeat;
      top:-16px;
      left: -3px;
    }

    .emblem.gold:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      background:url(../i/sprite.png) -28px 0px no-repeat;
      bottom:-15px;
      right: -3px;
    }

  .emblem.brown {
    background: #292929;
    color: #fff;
    border:#c2ad7e 1px solid;
  }

    .emblem.brown:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      background:url(../i/sprite.png) 0px -24px no-repeat;
      top:-16px;
      left: -3px;
    }

    .emblem.brown:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 15px;
      background:url(../i/sprite.png) -28px -24px no-repeat;
      bottom:-15px;
      right: -3px;
    }

.btn-act {
  border: #c2ad7e 1px solid;
  background:none;
  text-transform:uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight:700;
  border-radius: 0;
  padding: 20px 30px;
  margin: 20px 0;
}

  .btn-act:hover {
    background: rgba(41,41,41,0.1);
    border:#292929 1px solid;
  }

  .btn-act.dark:hover {
    background: rgba(194,173,126,0.2);
    color: #fff;
    border:#fff 1px solid;
  }

.social {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
  text-align: center;
  color: #c2ad7e;
  background:#292929;
  width: 55px;
  height: 55px;
  line-height: 55px;
}

  .social span {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
  }

  .social:hover {
    background:#242424;
    color:#fff;
  }

/*LAYOUT*/

#top {
  padding:45px 0;
  background: url(../i/bkg-header.png) top center no-repeat;
  background-size:cover;
  height: 270px;
}

  #top-domain, #top-menu {
    padding-top: 70px;
    text-transform:uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight:700;
    display: inline-block;
    vertical-align: top;
    color:#c2ad7e;
  }

  .top-logo {
    width: 235px;
    height: 132px;
    background: url(../i/logo.svg) top center no-repeat;
    display: inline-block;
    margin-top:10px;
  }

  #top-burger {
    font-size: 42px;
    display: inline-block;
    padding-top: 55px;
    vertical-align: top;
    margin-left: 10px;
  }


  #top-nav {
    width: 320px;
    height: 100%;
    position: fixed;
    top:0;
    bottom:0;
    background: #242424;
    color: #fff;
    right: 0;
    z-index: 100;
    display: none;
  }

  #top-nav-close {
    text-align: right;
    margin-right: 20px;
    font-size: 25px;
    padding-top: 20px;
  }

  #top-nav-logo {
    text-align: center;
  }

  #top-nav-menu .nav a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
  }

#horizon {
  background:#fff;
  height: 80px;
  position: relative;
  z-index: 10;
  text-align: center;
}
  
  #horizon:before {
    content:'';
    display: block;
    position: absolute;
    height: 49px;
    width: 100%;
    background: url(../i/mask-curve.png) top center no-repeat;
    background-size: cover;
    top: -49px;
    left:0;
  }

  #horizon .emblem {
    top: -60px;
  }

#intro {
  padding-bottom:75px;
}

  #intro-title {
    text-align: right;
    position: relative;
  }

  #intro-title h1 {
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 1.0em;
    font-weight:700;
  }

.cards {
  background: url(../i/shadow.png) top center no-repeat #f8f3e6;
  background-size: contain;
  padding: 110px 0;
  position: relative;
}

.card-nav {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -20px;
}

  .card-nav .nav a {
    padding: 20px;
    font-size: 16px;
    border-left:#c2ad7e 1px solid;
    border-right: #c2ad7e 1px solid;
    margin:0 -2px;
    border-radius: 0;
  }

  .card-nav .nav a:hover, .card-nav .nav a:focus  {
    background: #f8f3e6;
    color: #292929;
  }

  .card-nav .nav .active a, .card-nav .nav .active a:hover, .card-nav .nav .active a:focus {
    background: #f8f3e6;
    color: #292929;
  }

.anchor {
  text-align: center;
  font-size: 50px;
}

.card-holder {
  position: relative;
}

.card-intro h2 {
  width: 50%;
  font-weight:700;
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 1.1em;
  margin-bottom: 20px;
}

.card-item {
  position: relative;
  min-height: 200px;
  margin-bottom: 50px;
}
  
  .card-item span {
    font-size: 50px;
    color: #fff;
    text-shadow: 0px 0px 6px #c2ad7e;
    margin-bottom: 30px;
  }

  .card-item h3 {
    color: #c2ad7e;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.1em;
    margin-bottom: 20px;
    min-height: 40px;
  }

.card-content {
  font-size: 16px;
  line-height: 1.4em;
}

  .card-content em {
    font-weight: bold;
  }

  .card-content strong {
    font-size: 18px;
    display: block;
    margin: 10px 0;
  }

#faq {
  background: #292929;
  position: relative;
}

  #faq-stock {
    background: url(../i/stock-faq.png) top left no-repeat;
    background-size:contain;
    min-height: 684px;
  }

  .faq-stock-title {
    text-align: center;
    padding-top: 134px;
  }

    .faq-stock-title h3 {
      font-size: 75px;
      color: #c2ad7e;
    }

  .faq-stock-intro {
    padding:60px 20px;
    font-size: 20px;
    color: #7f7f7f;
    text-align: center;
  }

  #faq-items {
    padding: 50px;
  }

  #faq-items .nav {
    margin-bottom: 60px;
  }

  #faq-items .nav span {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    vertical-align: top;
  }

  #faq-items .nav a {
    display:  inline-block;
    margin-left: 20px;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing: 1px;
    width: 80%;
    vertical-align: top;
  }

  #faq-items .nav a:hover {
    background: none;
  }

  #faq-items .nav li p {
    padding-left: 52px;
    color: #fff;
  }

#about {
  padding-top:75px;
}

  #about h3 {
    font-weight:700;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: -3px;
    line-height:  1.1em;
    text-align: center;
  }

  #about .intro {
    text-align: center;
  }

  .about-stores {
    margin-top: 75px;
  }

  .about-stores .modal-content {
    background: #242424;
    border-radius: 0;
    color: #7f7f7f;
  }

  .about-stores .close {
    color: #c2ad7e;
    opacity: 1.0;
  }

  .about-store-modal {
    padding:30px;
  }

  .about-store-frame iframe {
    width: 100%;
    height: 500px;
    border:0;
  }

  .about-store {
    height: 340px;
    text-align: center;
    line-height: 340px;
    color: #fff;
  }

  .about-store .about-store-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1em;
  }

  .about-store-location {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #7f7f7f 1px solid;
  }

  .about-store-location h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff;
  }

  .about-store span {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .about-store h4 {
    font-size: 30px;
  }

  .about-store h5 {
    font-size: 24px;
    font-style: normal;
  }

  .about-online {
    padding: 75px 0;
  }

  #about-obit{
    padding: 30px 0;
  }

  #about-obit h4 {
    font-size: 23px;
  }

  #about-obit img {
    box-shadow: 0px 0px 3px #666;
  }

.card-phone {
  padding: 40px 0;
  color: #c2ad7e;
}

.card-phone span {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-phone strong {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.card-phone em {
  text-transform:uppercase;
  font-style: normal;
}

.card-social {
  margin-bottom: 40px;
  text-align: right;
}

#end {
  padding: 60px 0 40px 0;
  background: #242424;
  color: #7f7f7f;
  text-transform:uppercase;
  position: relative;
  font-size: 12px;
}

  .end-logo {
    width: 135px;
    height: 74px;
    background: url(../i/logo.svg) top left no-repeat;
    background-size:contain;
    display: block;
    margin-bottom: 10px;
  }

  #end .nav {
    margin-top:75px;
  }

  #end .nav a {
    font-size: 12px;
    font-weight:700;
    letter-spacing: 1px;
    border-radius: 0;
  }

  #end .nav a:hover {
    background: none;
  }

/*MEDIA QUERIES */
@media only screen and (max-width: 992px) {
    .emblem {
letter-spacing: 1px;
font-size: 13px;
    }

    .emblem.gold {
padding: 20px;
    }

    .btn-act {
font-size: 13px;
letter-spacing: 0;
padding: 20px;
    }

    #top {
padding:25px 0;
    }

    #intro-title {
text-align: center;
margin-bottom: 20px;
    }

    #intro-title h1 {
font-size: 40px;
letter-spacing: -2px; 
  }

    .card-intro h2 {
width: auto;
letter-spacing: -1px;
    }

    .card-item span {
font-size: 40px;
    }

    #faq-stock {
background: url(../i/stock-faq.png) 50% 70% no-repeat;
background-size:cover;
min-height: 700px;
    }

    #about h3 {;
letter-spacing: -1px;
    }

    .about-store {
height: 260px;
line-height: 260px;
    }

    .about-store span {
font-size: 25px;
    }

    .about-store h4 {
font-size: 20px;
    }

    .card-social {
text-align: center;
    }

    #end {
padding: 40px 0;
    }


    #end .nav {
margin-top:15px;
    }

}

@media only screen and (max-width: 767px) { 

    .intro p {
font-size: 16px;
    }

    .dot {
margin: 45px auto;
    }

    .emblem {
font-size: 12px;
    }

    .emblem.gold {
padding: 15px;
    }

    .btn-act {
padding: 15px;
    }

    h1.text-center {
font-size: 30px;
    }

    /*LAYOUT*/

    #top {
padding:10px 0 80px 0;
height: auto;
    }

    #top-domain, #top-menu {
padding-top: 10px;
display: block;
text-align: center;
    }

    #top-burger {
display: block;
text-align: center;
padding-top: 10px;
    }

    #horizon .emblem {
    top: -60px;
margin:0 10px;
    }

    #intro {
padding-bottom:100px;
    }

    #intro-title h1 {
font-size: 30px;
letter-spacing: -1px;
    line-height: 1.0em;
    font-weight:700;
    }

    .card-nav {
width: 94%;
margin: 0 3%;
    text-align: center;
    position: absolute;
top: -50px;
    }

    .card-nav nav {
width: 100%;
padding: 0 5%;
    }

    .card-nav li {
float: none;
display: block;
    }

    .card-nav .nav a {
padding: 10px;
font-size: 12px;
border-left:none;
border-right:none;
margin:0 -2px;
    border-radius: 0;
    }

    .card-intro h2 {
  width: auto;
font-size: 25px;
letter-spacing:0;
    line-height: 1.1em;
    margin-bottom: 20px;
    }

    .card-item {
    position: relative;
    min-height: 200px;
margin-bottom: 20px;
    }

    .card-item span {
font-size: 30px;
margin-bottom: 20px;
    }

    .card-item h3 {
    letter-spacing: 0;
    line-height: 1.1em;
margin-bottom: 10px;
min-height: auto;
    }

    #faq-stock {
background: url(../i/stock-faq.png) 50% 80% no-repeat;
background-size:cover;
min-height: 400px;
    }

    .faq-stock-title {
text-align: right;
padding-top: 45px;
    }

    .faq-stock-title h3 {
font-size: 50px;
    }

    .faq-stock-intro {
padding:40px 10px;
font-size:15px;
text-align: left;
max-width: 50%;
    }

    #faq-items {
padding: 10px;
    }

    #faq-items .nav {
margin-bottom: 40px;
    }

    #faq-items .nav span {
    display: inline-block;
font-size: 12px;
    color: #fff;
    vertical-align: top;
    }

    #faq-items .nav a {
    display:  inline-block;
margin-left: 10px;
    vertical-align: top;
    }

    #faq-items .nav a:hover {
    background: none;
    }

    #faq-items .nav li p {
padding-left: 20px;
    color: #fff;
    }

    #about h3 {
font-size:25px;
    }

    #end .nav li {
display: block;
float: none;
    }

}